# My settings, overwrite in .vm.conf to suit yours

# Default path where to store VMs
VMDATA="/VM/$USER"

# Default binding for VirtualBox RDP service
VRDEADDRESS=127.1.0.1
VRDEAUTHTYPE=null

# Start port for RDP services, counted up
MINPORT=7001

# PARAMS for ./.set
#PARAMS=memory

# Settings to .fix
MODS="usb mouse clipboard audio vram boot1 boot2 boot3 timesync"

# Setting values to fix (setting prefixed with M_)
M_usb=off
M_clipboard=disabled
M_mouse=ps2
M_audio=none
M_vram=6
M_boot1=dvd
M_boot2=disk
M_boot3=none

# FOLLOWING IS NOT YET USED
# Set some guestproperties
PROPS="timesync"

P_timesync=/VirtualBox/GuestAdd/VBoxService/
G_timesync=--timesync-set-threshold
V_timesync=1000

